 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
      

body
{
    font-family:roboto, sans-serif;
    margin:0;
    font-weight:bold;
}

.nav-div ul
{
    display:flex;
    justify-content:flex-end;
    margin-right:10px;
}

.nav-div ul li
{
    padding:10px;
    list-style-type:none;
    cursor:pointer;
}

.nav-div ul li button
{
    background-color:#4285F4;
    border:none;
    text-align:center;
    color:white;
    padding:10px 30px;
    margin-top:-40px;
    display:inline-block;
    border-radius :5px;
    cursor:pointer;
}

img
{
   display:block;
   margin:auto;
   padding:100px 200px 0 200px;
   margin-bottom:20px;


}

form
{
    text-align:center;
    background-color:white;
}



#search-bar 
{
    display:block;
    margin:auto;
    padding:17px 250px;
    border-radius:30px;
    border: 1px solid #dfe1e5;
    pointer-events: none;
    text-align:left;
    max-width:500px;
    
    
}

.searchicon {
    position: absolute;
    left: 34%;
    top:38%;
    transform: translateY(-50%);
    color: rgb(99, 90, 90);
    pointer-events: none;
  }

#search-bar:hover
{
    box-shadow: 1px 1px 10px 1px lightgray;
}

#search-button 
{
    padding:10px;
    margin:30px 10px;
}
#feeling-lucky-button
{
    padding:10px;
}

form p a
{
    text-decoration:none;
    padding:0 3px;
   
}

form p
{
    margin-top:-2px;
}


.right-foot-div
{
    margin-left:-30px;
}



.footer-container
{
    display:flex;
    border-top:0.5px #70757a solid;
}
.left-foot-div 
{
    width:50%;
    margin-left: -15px;
}
.left-foot-div ul
{
    display:flex;
    list-style-type: none;
    text-decoration:none;
}
.left-foot-div ul li
{
    padding:0 15px;
}

.right-foot-div 
{
    width:50%;
    margin-left: -5px;
}

.right-foot-div ul
{
    display:flex;
    justify-content:flex-end;
    list-style-type: none;
    text-decoration:none;
   
}
.right-foot-div ul li
{
    padding:0 15px;
}

.country
{
    padding-bottom:10px;
    margin-top: 300px;
    margin-left:40px;
    margin-bottom: 0;
    
}

footer
{
    color:#70757a;
}

#search-button
{
    border:1px solid #f8f9fa;
    background-color: #f4f4f4;
}

#search-button:hover
{
    color:black;
    border: 1px solid rgba(92, 92, 92, 0.87);
}

#feeling-lucky-button
{
    border:1px solid #f8f9fa;
    background-color: #f4f4f4;
}

#feeling-lucky-button:hover
{
    color:black;
    border: 1px solid rgba(92, 92, 92, 0.87);  
}
