 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
      

body
{
    font-family:roboto, sans-serif;
    margin:0;
    font-weight:bold;
}

.nav-div ul
{
    display:flex;
    justify-content:flex-end;
    margin-right:10px;
}

.nav-div ul li
{
    padding:10px;
    list-style-type:none;
    cursor:pointer;
}

.nav-div ul li button
{
    background-color:#4285F4;
    border:none;
    text-align:center;
    color:white;
    padding:10px 30px;
    margin-top:-40px;
    display:inline-block;
    border-radius :5px;
    cursor:pointer;
}

img
{
   display:block;
   margin:auto;
   padding:100px 200px 0 200px;
   margin-bottom:20px;


}

form
{
    text-align:center;
    background-color:white;
}

#search-bar 
{
    display:block;
    margin:auto;
    padding:17px 250px;
    border-radius:30px;
}

#search-button 
{
    padding:10px;
    margin:30px 10px;
}
#feeling-lucky-button
{
    padding:10px;
}

form p a
{
    text-decoration:none;
    padding:0 3px;
   
}

form p
{
    margin-top:-2px;
}


.right-foot-div
{
    margin-left:-30px;
}

/*
.right-foot-div ul
{
    display:flex;
    justify-content:flex-start;
    list-style-type: none;
    
    
}

.left-foot-div ul
{
    display:flex;
    justify-content:flex-end;
    list-style-type: none;
}
*/

.footer-container
{
    display:flex;
}
.left-foot-div 
{
    width:50%;
    margin-left: -15px;
}
.left-foot-div ul
{
    display:flex;
    list-style-type: none;
}
.left-foot-div ul li
{
    padding:0 15px;
}

.right-foot-div 
{
    width:50%;
    margin-left: -5px;
}

.right-foot-div ul
{
    display:flex;
    justify-content:flex-end;
    list-style-type: none;
   
}
.right-foot-div ul li
{
    padding:0 15px;
}

.country
{
    margin-top: 300px;
    margin-left:40px;
    margin-bottom: 0;
    color:red;
}